.body {
    background-image: linear-gradient(to bottom, rgb(229, 236, 251), rgb(254, 226, 231));
}
   
.navbar {
    background-color: pink !important;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 20px;
}

.navbar-toggler {
    background-color: white !important;
}

.navbar-nav :hover {
    color: palevioletred !important;
    text-decoration: underline !important;
    transition: ease;
    transition-duration: 0.3s;
}

.featured {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.art {
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    color: palevioletred;
}

.cards {
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    padding: 5px;
}

.card {
    border: solid 2px palevioletred !important;
}

.card-title {
    color: palevioletred !important;
    text-align: center;
}


.btn {
    background-color: pink !important;
    border-color: palevioletred !important;

}

.btn:hover {
    background-color: bisque !important;
    border-color: rgb(245, 197, 139) !important;
    color: black !important;
    transition: ease;
    transition-duration: 0.3s;
}

.social {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover{
    box-shadow: 5px 5px rgb(191, 143, 219);
    text-decoration: underline palevioletred;
    transition: ease;
    transition-duration: 0.3s;
}

.description {
    color: gray;
}

.info {
    color: gray;
    text-align: center;
}

.end {
    padding: 50px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    display: flex;
}